#body {
  background-image: url("https://splashbase.s3.amazonaws.com/crowthestone/regular/tumblr_nbvzpnoqYu1tkzbduo1_1280.jpg");
  background-repeat: no-repeat;
  color: white;
  z-index: -1;
  background-size: contain;
  background-position: center;
}

#weather {
  background-color: rgba(0, 0, 0, 0.5);
  width: 10rem;
}

#quote {
  background-color: rgba(0, 0, 0, 0.5);
}

#todo {
  background-color: rgba(0, 0, 0, 0.5);
  width: 30rem;
}

input[type=text] {
  color: black;
}
